<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/JIRA
		</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.username">
			root
		</property>
		<property name="connection.password">
			qwerty
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<mapping class="database.entity.Assignee" />
		<mapping class="database.entity.IssuePriority" />
		<mapping class="database.entity.IssueReporter" />
		<mapping class="database.entity.IssueResolution" />
		<mapping class="database.entity.IssueStatus" />
		<mapping class="database.entity.IssueType" />
		<mapping class="database.entity.JiraIssue" />
		<mapping class="database.entity.JiraProject" />
		<mapping class="database.entity.IssueComment" />
		<mapping class="database.entity.AssignedIssue" />
	</session-factory>
</hibernate-configuration>